In [199]:
import numpy as np
import pandas as pd
import seaborn as sns

import pandas as pd
import seaborn as sns
sns.set_palette("muted")
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV


import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [200]:
df = pd.read_csv('myFilmdata.csv')

In [201]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9164 entries, 0 to 9163
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9164 non-null   int64
 1   title                 9164 non-null   object
 2   genres                9164 non-null   object
 3   original_language     9164 non-null   object
 4   overview              9144 non-null   object
 5   popularity            9164 non-null   float64
 6   production_companies  9164 non-null   object
 7   release_date          9164 non-null   object
 8   budget                9164 non-null   float64
 9   revenue               9164 non-null   float64
 10  runtime               9164 non-null   float64
 11  status                9164 non-null   object
 12  vote_average          9164 non-null   float64
 13  vote_count            9164 non-null   float64
 14  credits               9164 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 1.0+ MB

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits
0,505642,Black Panther: Wakanda Forever,Action-Adventure-Science Fiction,en,Queen Ramonda Shuri M’Baku Okoye and the Dora ...,4378.531,Marvel Studios,2022-11-09,250000000.0,8.550990e+08,162.0,Released,7.449,3340.0,Letitia Wright-Lupita Nyong'o-Danai Gurira-Win...
1,315162,Puss in Boots: The Last Wish,Animation-Adventure-Comedy-Family-Fantasy,en,Puss in Boots discovers that his passion for a...,3204.321,Universal Pictures-DreamWorks Animation,2022-12-07,90000000.0,4.230000e+08,103.0,Released,8.485,3884.0,Antonio Banderas-Salma Hayek-Harvey Guillén-Wa...
2,646389,Plane,Action-Adventure-Thriller,en,After a heroic job of successfully landing his...,3115.286,Di Bonaventura Pictures-MadRiver Pictures-Rive...,2023-01-13,25000000.0,4.600000e+07,107.0,Released,6.800,502.0,Gerard Butler-Mike Colter-Yoson An-Tony Goldwy...
3,536554,M3GAN,Science Fiction-Horror-Comedy,en,A brilliant toy company roboticist uses artifi...,2088.921,Universal Pictures-Blumhouse Productions-Atomi...,2022-12-28,12000000.0,1.676440e+08,102.0,Released,7.535,1662.0,Allison Williams-Violet McGraw-Jenna Davis-Ami...
4,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,1738.087,Lightstorm Entertainment-20th Century Studios,2022-12-14,460000000.0,2.243276e+09,192.0,Released,7.733,5343.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-B...

In [202]:
df = df.sort_values(by=['revenue'], ascending=False)

In [203]:
df

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits
6,19995,Avatar,Action-Adventure-Fantasy-Science Fiction,en,In the 22nd century a paraplegic Marine is dis...,771.663,20th Century Fox-Ingenious Media-Dune Entertai...,2009-12-15,237000000.0,2.920357e+09,162.0,Released,7.566,28398.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-S...
99,299534,Avengers: Endgame,Adventure-Science Fiction-Action,en,After the devastating events of Avengers: Infi...,128.607,Marvel Studios,2019-04-24,356000000.0,2.797801e+09,181.0,Released,8.270,22651.0,Robert Downey Jr.-Chris Evans-Mark Ruffalo-Chr...
4,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,1738.087,Lightstorm Entertainment-20th Century Studios,2022-12-14,460000000.0,2.243276e+09,192.0,Released,7.733,5343.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-B...
25,597,Titanic,Drama-Romance,en,101-year-old Rose DeWitt Bukater tells the sto...,319.114,Paramount-20th Century Fox-Lightstorm Entertai...,1997-11-18,200000000.0,2.187464e+09,194.0,Released,7.888,22350.0,Leonardo DiCaprio-Kate Winslet-Billy Zane-Kath...
471,140607,Star Wars: The Force Awakens,Adventure-Action-Science Fiction-Fantasy,en,Thirty years after defeating the Galactic Empi...,57.305,Lucasfilm-Bad Robot,2015-12-15,245000000.0,2.068224e+09,136.0,Released,7.305,17755.0,Harrison Ford-Mark Hamill-Carrie Fisher-Adam D...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8979,381511,ZERO Limits,Action-Adventure-Comedy-Crime,sq,A village where everyone is wishing to protect...,0.600,Aceldoredon-SEHR,2016-02-06,1560.0,1.000000e+00,60.0,Released,10.000,1.0,Beis Shabani-Marigon Zyberi-Valenti Shabani-Si...
9137,940010,Mock Week 2: The Finale,Documentary-Drama-Thriller,en,A group of young men document their lives and ...,0.600,Stupendous Gentlemen Productions,2022-02-11,12.0,1.000000e+00,200.0,Released,10.000,1.0,Jack Doyle-Gabriel Stasys-Harry Farrell
8798,483876,Dead Man's Line,Documentary,en,On the morning of February 8 1977 Tony Kiritsi...,0.822,Indy Film House,2018-02-08,10.0,1.000000e+00,108.0,Released,7.200,4.0,Tom Cochrun-David Coffman-Greg Dobbs-Michael D...
4642,14424,Sex and Death 101,Comedy-Romance-Drama,en,A guy's life is turned around by an email whic...,12.112,Avenue Pictures-Sandbar Pictures,2007-06-15,5.0,1.000000e+00,100.0,Released,6.098,224.0,Simon Baker-Winona Ryder-Julie Bowen-Leslie Bi...
9163,853631,A Way Out,Drama,en,NaN,0.600,Blushot,2021-04-12,1.0,1.000000e+00,7.0,Released,9.000,1.0,Anas Alhajj

In [204]:
df = df.drop(df[df['budget'] < 50000].index)
df = df.drop(df[df['revenue'] < 50000].index)

In [205]:
df['budget'].value_counts()
df['revenue'].value_counts()

20000000.0    274
10000000.0    253
25000000.0    247
15000000.0    243
30000000.0    224
             ...
2581561.0       1
783000.0        1
17289533.0      1
5579750.0       1
183210.0        1
Name: budget, Length: 1280, dtype: int64

2000000.0     34
10000000.0    34
1000000.0     33
12000000.0    28
1500000.0     26
              ..
55305279.0     1
55362705.0     1
55443032.0     1
55478164.0     1
24174885.0     1
Name: revenue, Length: 7307, dtype: int64

In [206]:
df['language'] =  (df['original_language'] == 'en').astype(int)

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8412 entries, 6 to 8469
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    8412 non-null   int64
 1   title                 8412 non-null   object
 2   genres                8412 non-null   object
 3   original_language     8412 non-null   object
 4   overview              8401 non-null   object
 5   popularity            8412 non-null   float64
 6   production_companies  8412 non-null   object
 7   release_date          8412 non-null   object
 8   budget                8412 non-null   float64
 9   revenue               8412 non-null   float64
 10  runtime               8412 non-null   float64
 11  status                8412 non-null   object
 12  vote_average          8412 non-null   float64
 13  vote_count            8412 non-null   float64
 14  credits               8412 non-null   object
 15  language              8412 non-null   int32
dtypes: float64(6), int32(1), int64(1), object(8)
memory usage: 1.1+ MB

In [208]:
df['profit'] = df['revenue']-df['budget']

In [209]:
df['profit'] = df['revenue']-df['budget']

In [215]:
# Reset the index to default
df = df.reset_index(drop=True)

In [210]:
df.to_csv('MyFinalDataFilms1.csv', index=False)