In [24]:
import numpy as np
import pandas as pd
import seaborn as sns

import pandas as pd
import seaborn as sns
sns.set_palette("muted")
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV


import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# This next code reflext all the people worked on creating move, not only actors.

In [54]:
df = pd.read_csv('MyFinalDataFilms1.csv')

In [55]:
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits,language,profit
0,19995,Avatar,Action-Adventure-Fantasy-Science Fiction,en,In the 22nd century a paraplegic Marine is dis...,771.663,20th Century Fox-Ingenious Media-Dune Entertai...,2009-12-15,237000000.0,2.920357e+09,162.0,Released,7.566,28398.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-S...,1,2.683357e+09
1,299534,Avengers: Endgame,Adventure-Science Fiction-Action,en,After the devastating events of Avengers: Infi...,128.607,Marvel Studios,2019-04-24,356000000.0,2.797801e+09,181.0,Released,8.270,22651.0,Robert Downey Jr.-Chris Evans-Mark Ruffalo-Chr...,1,2.441801e+09
2,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,1738.087,Lightstorm Entertainment-20th Century Studios,2022-12-14,460000000.0,2.243276e+09,192.0,Released,7.733,5343.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-B...,1,1.783276e+09
3,597,Titanic,Drama-Romance,en,101-year-old Rose DeWitt Bukater tells the sto...,319.114,Paramount-20th Century Fox-Lightstorm Entertai...,1997-11-18,200000000.0,2.187464e+09,194.0,Released,7.888,22350.0,Leonardo DiCaprio-Kate Winslet-Billy Zane-Kath...,1,1.987464e+09
4,140607,Star Wars: The Force Awakens,Adventure-Action-Science Fiction-Fantasy,en,Thirty years after defeating the Galactic Empi...,57.305,Lucasfilm-Bad Robot,2015-12-15,245000000.0,2.068224e+09,136.0,Released,7.305,17755.0,Harrison Ford-Mark Hamill-Carrie Fisher-Adam D...,1,1.823224e+09

In [56]:
# Split the 'actors' column on the '-' delimiter, and convert to a list
df['credits'] = df['credits'].str.split('-')

In [57]:
all_actors = []

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    # Get the list of actors for the current movie
    actors = row['credits']
    
    # Extend the list of all actors with the actors for the current movie
    all_actors.extend(actors)

# Convert the list of all actors to a set to remove duplicates
unique_actors = set(all_actors)

# Remove single-letter names from the set of unique actors
unique_actors = {actor for actor in unique_actors if len(actor) > 1}


# Print the total number of actors and the number of unique actors
print(f"Number of unique actors: {len(unique_actors)}")

Number of unique actors: 145409

In [58]:
unique_actors
# Convert the set into a list
my_list = list(unique_actors)

# Create a dictionary with a single column
data = {'actors': my_list}

# Create a Pandas DataFrame from the dictionary
actors = pd.DataFrame(data)
actors.head()

{"Haven Rockwell O'Sullivan",
 'Nick Zaran',
 'Franco Citti',
 'Forrest Broadley',
 'Sandra Love Aldridge',
 'Müjde Ar',
 'Tarcísio Meira',
 'Kyra Elise Gardner',
 'Jana García',
 'Sarah De Teliga',
 'Manuela Velasco',
 'Richard Susser',
 'Baljeet Singh',
 'Jayant Gadekar',
 'Louis Durant',
 'seong',
 'Louise Lorimer',
 'Robert B. Williams',
 'Aleksandr Demidov',
 'Leon Hasančević Matijašić',
 'Manuel Manquiña',
 'Collin MacKechnie',
 'Amber Pawlick',
 'Pete Janschek',
 'Cordell Nichols',
 'Robyn Driscoll',
 'Oliver Stritzel',
 'Mike Forbs',
 'Stacie Gagnon',
 'Rock Riddle',
 'Jackie Bohne',
 'Levi Strasser',
 'Garret Kellenberger',
 'Isao Sasaki',
 'Cierra Tramaine Butler',
 'Nathyia Jackson',
 'Devon Gummersall',
 'Julius Tennon',
 'Greg SmithAldridge',
 'Francis Ng',
 'Mike Conneen',
 'Craig Chudy',
 'Ennio Coltorti',
 'Torshia Suggs',
 'Christopher Bown',
 'Chin Wing',
 'Issey Miyake',
 'Anthony Jarvis',
 'Cathy Fithian',
 'Amanda Burke Buczek',
 'DominiQue MrsGiJane Williams',
 'Valarie Pettiford',
 'Carole Noe',
 'Elaine Martone',
 'Mitsuo Togioka ',
 'Benz Veal',
 'Steve Hutsko',
 'Joan Shangold',
 'Pamela Jean Bryant',
 'Reg Harding',
 'Catherine LeFrere',
 'Taryn Gluck',
 'Mae Whitman',
 'James Frank Clark',
 'Dimitri Vegas',
 'Adam James',
 'Sylvia Weatherspoon',
 'Victoria Chen',
 'Mike McColl',
 'John Patten',
 'Jimmy Kimmel',
 'Donna Hamilton',
 'Joe Berryman',
 'Keith Pyott',
 'Robbie Tucker',
 'Mami Koyama',
 'Vincent Moscato',
 'Tyler Michael Brown',
 'Hynek Čermák',
 'Brent Strickland',
 'Henry Holcomb',
 'keun',
 'Henry Helemen',
 'Amy Styvesant',
 'Victor Izquierdo',
 'Scott Ditty',
 'Henidar Amroe',
 'Grace Rosebirch',
 'Kenny Call',
 'Craig Brewer',
 'Hitesh Sindi',
 'Alex Stebbins',
 'Roy Beck',
 'Alessandro Tiberi',
 'Zak Penn',
 'Cyril McLaglen',
 'Anna Khristich',
 'Rick LeCompte',
 'Aishwarya Devan',
 'Nina Lafarga',
 'Jochen Gliscinsky',
 'Cris Penfold',
 'Yutaka Nakano',
 'Cindy Margolis',
 'Sverre Anker Ousdal',
 'Dmitri Karpov',
 'Eleanor Goodall',
 'Eugene Gutierrez',
 'Alec Mango',
 'Kelli Kirkland',
 'Kumar Pallana',
 'George Jayne',
 'Telford Jackson',
 'Arthur Senzy',
 'Tom Hester',
 'Philippe Landoulsi',
 'Cory Gluck',
 'Grace Cinque White',
 'David Lennie',
 'Marta Dusseldorp',
 'Roberto Turtur Minutillo',
 'byeol',
 'Sami Darr',
 'Wanda Banda',
 'James Houk',
 'Kenneth Moskow',
 'Bleta Jahaj',
 'Drew Seltzer',
 'Yoshiro Matsumoto',
 'Vadim Uraneff',
 'Bob Norris',
 'David Arquette',
 'Bernie Massa',
 'Charles Biddle Sr.',
 'Michael Nardelli',
 'Rick Hamilton',
 'Robert Ruffin',
 'Charlotte Milchard',
 'Dominique Sanda',
 'Kevin Michaels',
 'Shaun Micallef',
 'David Neumann',
 'Anfisa Chekhova',
 'Marcia Darroch',
 'Robert Zorn',
 'Máté Haumann',
 'Chuck Robinson',
 'Matías Quer',
 'Anastasiya Novikova',
 'Ron N. Binder',
 'Matthew Mercer',
 'Rosalinde Tropper',
 'Paul Stewart',
 'Ricky Cornett',
 'Olga Merediz',
 'Georges Benoît',
 'Rich Keen',
 'Wisdom Ayanou',
 'David Rothenberg',
 'Stephen Thompson',
 'Linsay Rousseau',
 'Ken Tran',
 'Áron Öze',
 'Gabriel Spahiu',
 'David Clyde Carr',
 'Ruth Warrick',
 'Amber Madison',
 'Jaryd Waterhouse',
 'Tilla Kratochwil',
 'Peter Pacey',
 'Joanna Waldsmith',
 'Maria Hall Rueda',
 'Marija Karan',
 'Bronwyn Hardy',
 'Eduard Censor',
 'Farah Khan',
 'Jorge Victoria',
 'Frank Schorpion',
 'Niousha Noor',
 'John Bennett Perry',
 'Edwidge Danticat',
 'Syed Fazal Hussain',
 'Michele Russo',
 'Ryan Brooks',
 'Alexander Sirotin',
 'Frank Clem',
 'Austin Lysy',
 'Tiffany Green',
 'Ally Garrett',
 'Hari James',
 'Thomas Engeset',
 'Fai Chan',
 'Amad Jackson',
 'Virginie Le Brun',
 'Dale Critchlow',
 'Blue McDonnell',
 'Thibault Cathalifaud',
 'Michelle Benjamin Cooper',
 'Sylvia Fasolo',
 'Eli Gelb',
 'Daveigh Chase',
 'Hideboh',
 'Thérèse Bourou',
 'Abbe Holmes',
 'Michele De Virgilio',
 'Ilona Alexandra',
 'Hu Jiwei',
 'Steve Miranda',
 'Jake Thomas',
 'Billy Kearns',
 'Dan Zachary',
 'Livio Giorgi',
 'Patrick Birkett',
 'Victoria Edwards',
 'Matt Costello',
 'Daniel York',
 'James Wing Woo',
 'Quentin Médrinal',
 'Alon Friedman',
 'Colleen Dunn',
 'Dana Derfus',
 'Chad Martinez',
 'Léa Fazer',
 'Bo Brinkman',
 'Damian Lovello',
 'Brooke Allison',
 'Ruggero Cara',
 'Victoria Ferrara',
 'Denisa Pfauserová',
 'Andrei Tolshin',
 'Carlo Santos',
 'Parambrata Chatterjee',
 'Joe Gosha',
 'Stephen Kankole',
 'Maki Shinta',
 'Elle Downs',
 'Arthur Howard',
 'Janine Strafaci',
 'Herman Sinitzyn',
 'Paul Dion Monte',
 'Maija Suomela',
 'Portia de Rossi',
 'Paul Francis',
 'Margarita Cavero',
 'Kenny Vadas',
 'Kim Adis',
 'Liu Dong',
 'Paula Wilcox',
 'Maia Kavchak',
 'Charlie Phillips',
 'Cameron Hill',
 'Jimmy Cvetic',
 'Andrey Grinev',
 'Matthew King',
 'Bill Oberst Jr.',
 'Lance Kerwin',
 'Lee Perry',
 'Jonathan Simpson',
 'Ian Gschwind',
 'Luke Figueroa',
 'Brian Call',
 'Andrew Locke',
 'Peter Frye',
 'Teresa Kruze',
 'John Nacco',
 'Ruth Dvorah Bidner',
 'Michele Rogers',
 'Mackenzie Meehan',
 'Erin Banks',
 'Mighty Mike Murga',
 'Nicole Knight',
 'Antonia Corrigan',
 'Andrew Byron',
 'Ewa Kolasińska',
 'Sigal Harel',
 'Peter Van Norden',
 'Dmitriy Kochkin',
 'Ken Page',
 'Omar Hibbert Williams',
 'Linda Vick',
 'Ridge Canipe',
 'Robert Blanche',
 'Faron Salisbury',
 'Steven Williby',
 'Ralph Bruneau',
 'Natalie Trott',
 'Terry Serpico',
 'Michael Kranz',
 'Daniella Alma',
 'Joe Palka',
 'José Luis Méndez',
 'Romilly Squire',
 'Gary Hale',
 'Vladimir Levkovsky',
 'Anzac Wallace',
 'Sean Bennett',
 'Whit Coleman',
 'Rick Glassey',
 'Riley Thompson',
 'Bob Bishop',
 'Sujatha',
 'Steve Pacaud',
 'Tilo Prückner',
 'Tristan Rehwald',
 'Bryan Hearne',
 'Alex Novinsky',
 'Juan Miguel Fernández',
 'John Candy',
 'David Mullen',
 'Sean King',
 'Erica Tremblay',
 'Martha Wentworth',
 'Sonia Gessner',
 'Dylan Roberts',
 'Wilson Ureña',
 'Ben Hodges',
 'Constance Stride',
 'Jerry Toomey',
 'Bence Balogh',
 'Frank Adamson',
 'Danai Gurira',
 'Gunter',
 'Donalson Rabisi',
 'William S. Bartman',
 'Magdalena Mielcarz',
 'Greg Rhinelander',
 'Jaimee Rose Lynn',
 'Kola Ogundiran',
 'Jana Lynn Schoep',
 'Annabella Sciorra',
 'Jean Howell',
 'Rob Hinderstein',
 'Phoebe Nicholls',
 'Colin Fernandes',
 'Franco Adducci',
 'Aldo Reggiani',
 'Hilary Carroll',
 'Annie Ilonzeh',
 'Elsa Ebbesen',
 'Grayson Victor Schirmacher',
 'Troy Glasgow',
 'Milos Reznicek',
 'Willa Holland',
 'Vlad Cruceru',
 'Macey Chipping',
 'Wyn Costello',
 'Zachary Trevitt',
 'Judy Arman',
 'Peter Malota',
 'Diane Zolten Wiltse',
 'Michael Kane',
 'Sam Raimi',
 'Chris Chan',
 'John Bankson',
 'Hiroaki Shintani',
 'Michael Tuck',
 'Claude Maki',
 'Turan Bagci',
 'Fu Biao',
 'Karen Meisinger',
 'Wrenn Schmidt',
 'Cecilia Rivera',
 'Richard Mullally',
 'Katie Boland',
 'Brett Molloy',
 'André Aciman',
 'Bill Ehrin',
 'Jack Hollington',
 'Brad Champion',
 'Christine Taylor',
 'Jesús Lago',
 'Eric Breker',
 'Berti',
 'Donald Bishop',
 'Naoki Iwasawa',
 'Carl McCoy',
 'Christopher Adeler',
 'Keianna Nutley',
 'Jakub Habarta',
 'Elisabeth Evans',
 'Michael Chekhov',
 'Sagar Ghopalkar',
 'Ralph Richardson',
 'Richard Stride',
 'Lariat Geronimo',
 'Jack Johnson',
 'Michael Coward',
 'Eric Neumann',
 'Steve Highsmith',
 'Gurdas Mann',
 'Bruce Yarnell',
 'Toby Dantzic',
 'Astrid Skuyat',
 'Jennifer Lane Newman',
 'Nancy Roppolo',
 'Gonzalo Uriarte',
 'John Comer',
 'Matthew Earnest',
 'Vineet Sharma',
 'Eric Roberts',
 'Ayzee',
 'Ziggy Gardner',
 'LaLanya Fair',
 'Camilla Bendix',
 'Barry Sonnenfeld',
 'Ira Heiden',
 'Raju Mavani',
 'Bonnie Ann Burgess',
 'George E. Zeeman',
 'Steven Mnuchin',
 'Diana R. Lupo',
 'Angélica Aragón',
 'Judi Embden',
 'Jimmy Dinwiddie',
 'Janet Borrus',
 'Uroš Janković',
 'Connor Fox',
 'Joyce Ames',
 'Thom Cagle',
 'Sandra Daubert',
 'Joel Blake',
 'Sai Xing Ga',
 'Jose Pablo Cantillo',
 'James Harlon Palmer',
 'Hannah Stokely',
 'Sanjeev Wilson',
 'Susannah Rogers',
 'Maiah Wynne',
 'Leslie Ann Powers',
 'Vasil Yordanov',
 'Matt Daniel',
 'Ernest Goldsmith',
 'Pattie Carlson',
 'Yoon Young',
 'Damien Marzett',
 'Fred Burns',
 'Linda Harwood',
 'Stephen Jenn',
 'Joe Benjamin',
 'Nicolas Roye',
 'Wendy Westerwelle',
 'Pierre Niney',
 'Óscar Zafra',
 'Pat Kilbane',
 'Marcus Tesch',
 'Susan Santiago',
 'Mariana Hewett',
 'Eiji Okada',
 'Collin Fowler',
 'Bill Yancy',
 'Allison Nega',
 'Romanos Isaac',
 'Erick Faulkner',
 'Monique Cash',
 'Michael Menchel',
 'Ben Jackson',
 'Patty Dougan',
 'Kathryn Givney',
 'Yukun Zhang',
 'Mark Howard',
 'Ray Bouchard',
 'Emily Thorling',
 'Todd Alcott',
 'Jörg Jänicke',
 'Ashley Brimfield',
 'Patrick Daly',
 'Jennifer Taylor',
 'Bentley Mitchum',
 'Nicholas Bela',
 'Chad Haywood',
 'Ellen Corby',
 'Keven Kaddi',
 'Aakash Sinha',
 'Jim Corr',
 'Chris Goodson',
 'Zoraide Coleto',
 'Cezar Grumarescu',
 'William Schub',
 'Alexandra Park',
 'Maria Walker',
 'Barton Lane',
 'Mohammed Arif Baser',
 'Ayush Mahesh Khedekar',
 'Rebecca T. Beucler',
 'Rachel Luttrell',
 'Shizuko Azuma',
 'Mack Williams',
 'Zack Pearlman',
 'Manuel Poncelis',
 'Randal Wilson',
 'Gerardo Taracena',
 'Wang Wang',
 'Bill Hugg',
 'Valerie Cruz',
 'Saskia Rosendahl',
 'Alma Sisneros',
 'Gabe Khouth',
 'Amy Young',
 'Inge Erik Henjesand',
 'Juliet Adair Pritner',
 'Allan Aarons',
 'Jon Edwin Wright',
 'Francesca Ortenzio',
 'Michael Swinehart',
 'Jordan Nesbitt',
 'Connor Hutcherson',
 'Frances Sternhagen',
 'Lesa Wilson',
 'Charles Armstrong',
 'Snæfríður Rán Aðalsteins',
 'W.R. Brown',
 'Terence Donovan',
 'Gazanfer Özcan',
 'Mark Lapid',
 'Tasya Teles',
 'Stanley Andrews',
 'Scott Ritenour',
 'Kim Keum',
 'Stephen Lord',
 'Laura Bryce',
 'Glen Adams',
 'Gannon McHale',
 'Jurgen Delnaet',
 'George Hearn',
 'Onnalin Porntrakulpipat',
 'Jorge Longoria',
 'Ara Glenn',
 'Antony Alda',
 'Dominique Warnier',
 'Abe Spigner',
 'Lee Socks',
 'Marty Pollio',
 'Nancy Ebert',
 'Lamar Johnson',
 'Samantha Logan',
 'Alexander Cross',
 'Da',
 'Stella Stocker',
 'Jessica Hynes',
 'John Catucci',
 'Doug Skinner',
 'Stephanie Limb',
 'Stacy Keach',
 'Slim Pickens',
 'Aleksandr Gavryushin',
 'J.D. McElroy',
 'Dawn Upshaw',
 'Ben Whishaw',
 'Phyllis Bose',
 'Gus Corrado',
 'Sarunrat Visutthithada',
 'Weronika Wachowska',
 'Guy Messenger',
 'Yuko Murata',
 'Bridget Duvall',
 'Amit Kumar',
 'Fiqih Hardana Yuanza',
 'Natalia Toth',
 'Karen Edmondson',
 'Jacques Marbeuf',
 'Paul Galvan',
 'Douglas Bank',
 'Wendy Merry',
 'Kyle Nudo',
 'Holly Dempster',
 'Ken Sigers',
 'Yui Natsukawa',
 'Karin Busch',
 'Cordell Clyde',
 'Alexandar Richardson',
 'Bennie E. Dobbins',
 'Yolanda Whittaker',
 'Paolo Bryant',
 'Ester Honysová',
 'Eamon Behrens',
 'Richard Leaf',
 'Jewel Shepard',
 'Kent Linville',
 'Milli M.',
 'James Kelley',
 'Porfirio Rocha',
 'MorningStar Angeline',
 'Craig Callow',
 'Margarita Broich',
 'Clint Lilley',
 'Norman McGlen',
 'Alexander Archdale',
 'Donald Dean',
 'Coco Jack Gillies',
 'Ryan McPartlin',
 'Hal Wilson',
 'Brian Tamblin',
 'Paul Hahn',
 'Bonnie Zellerbach',
 'Michael P. Byrne',
 'Rick Hill',
 'Kii Mizuno',
 'Lana Vlady',
 'Sarah Hoffmeister',
 'Marsha Stephanie Blake',
 'Lynn McRee',
 'Mithu Chakrabarty',
 'Donald Briggs',
 'Cha Eun',
 'Al Pia',
 'Amrit Patel',
 'Daniel Fridkin',
 'Vipul Gupta',
 'Craig Hamann',
 'Andrea Kostovick',
 'Lawrence Ko',
 'Kevin Corcoran',
 'Ho Sik Pak',
 'Brianna Denski',
 'Valentina Nejmorovec',
 'Scott Holcomb',
 'James Downing',
 'Thor Van Lingen',
 'Cara Williams',
 'Bernard Ledger',
 'Lambro Demetriou',
 'Alexis Sykes',
 'Mark English',
 'Sara Powell',
 'Chris Lemmon',
 'Theis Weckesser',
 'Nolan Hemmings',
 'Diesel Madkins',
 'Cinta Laura Kiehl',
 'Egor Sheremetyev',
 'Kelly De Martino',
 'Bruce Hampton',
 'Takeru Shibaki',
 'Rodney Eastman',
 'Sofie Falkgård',
 'John Van Eyssen',
 'James B. Leong',
 'Ernesto Hernández',
 'Shay Mack',
 'Gary D. Robertson',
 'Richard Cohen',
 'Susan Haldane',
 'Douglas Caldwell',
 'Peter Munt',
 'Grahame Mapp',
 'Glenn Herman',
 'Rocco Sisto',
 'Jane Lynch',
 'Blagovesta Cakova',
 'Ron Komora',
 'John Gallagher Jr.',
 'John Paul Jones',
 'Kristine M. Opheim',
 'Brennen Wiley',
 'Lenka Olšanová',
 'Steven Jared Mangurten',
 'David Belle',
 'Elsa Berenguer',
 'Timothy Shew',
 'Emerson Treacy',
 'Miranda Garrison',
 'Linda Howe',
 'Yanina Bugrova',
 'Holly Dorff',
 'Guida Vianna',
 'Karimah Westbrook',
 'Kathy McGraw',
 'Angela Simmons',
 'Carly Rae Jepsen',
 'Gastón Cocchiarale',
 "Terry O'Donovan",
 'Claudio Amato',
 'Michael Rodoja',
 'Go Min',
 'Matthew Kevin Anderson',
 'Mario Zuniga Benavides',
 'Ron Lea',
 'Kevin Vance',
 'Rob Purcell',
 'Nina Norén',
 'Evans Muthini',
 'Rocky Marshall',
 'Lobsang Samten',
 'Francis Lemonnier',
 'María Barranco',
 'Brad Call',
 'Geoffrey Toone',
 'Julitta Pourciau',
 'Carly McKillip',
 'Diane Salinger',
 'Sherwood Keith',
 'Jerzy Góralczyk',
 'Stephen Varga',
 'Sam Looc',
 'Kathryn Crawford',
 'Nesbitt Blaisdell',
 'Anna Jacoby',
 'Pierre Mondini',
 'Steve Pemberton',
 'Luz María Rojas',
 'Ariadna Vadillo Soto',
 'Sonya Golub',
 'Dov Navon',
 'Michael McElhatton',
 'Cameron Gaskins',
 'Vincent Selhorst',
 'Bruce Cabot',
 'Geoffrey Couët',
 'Kit Cranston',
 'LaConte McGrew',
 'Gemma Arterton',
 'Ward Horton',
 'Stanbridge',
 'Bae Il',
 'Mertcan Tekin',
 'Ira Lewis',
 'Shawn Ho',
 'Lisa Inouye',
 'Peter New',
 'Etienne Guillou',
 'George Johnson',
 'Mario Luna',
 'Merdock Malcolm Mercer',
 'Kevin Keppy',
 'Deedee Luxe',
 'Richard Morant',
 'Mikhail Shubin',
 'Bushnell Keeler',
 'Nelson Franklin',
 'Sébastien Libessart',
 'Sophia Ranft',
 'Charmaine Alicia Mancil',
 'Alan Ciangherotti',
 'Aleksandr Mukhin',
 'Marianne E. Bomba',
 'Vilhelm Blomgren',
 'John W. Oates',
 'Anthony J. Sharpe',
 'Chris Grabher',
 'Phil McGlaston',
 'Cristina Milizia',
 'Thorbjørn Harr',
 'Vyacheslav Yurovskikh',
 'Weir',
 'Terry Ballard',
 'Gina Gesamondo',
 'Butterfly McQueen',
 'Robert Malone',
 'Sugandha Mishra',
 'Ronald Fox',
 'Cheryl Chan',
 'Jackie Dempsey',
 'Howard I. Laniado',
 "Katy O'Donnell",
 'Lisa Hayward',
 'Benjamin Wainwright',
 'Tom Brainard',
 'Lee Luna',
 'Eleva Singleton',
 'Mark Anger',
 'Allan Skeene Jr.',
 'Lance Rosen',
 'Kōji Takahashi',
 'Dan Cox',
 'Lena Banks',
 'Peter Gordon',
 'Po Chan',
 'Sylviane Aliet',
 'Philip Franks',
 'Anne Lace',
 'Charlie Appleby',
 'Roger Wiggins',
 'Anne Charleston',
 'Joseph Henabery',
 'Johanna Yunda',
 'Theo Kypri',
 'Alan Daicz',
 'Zygmund Szarnicki',
 'Zhao Long',
 'Adam Insogna',
 'Whitney Chow',
 'Philippe Morier',
 'Judy Trammell',
 'Ashlee Nino',
 'Robert Gardett',
 'Dominique Jackson',
 'Kira Clavell',
 'Trenton James',
 'Abdullah Ferah',
 'Tommy Cresswell',
 'Ron Ayers',
 'Dorothy Constantine',
 'Fred Fein',
 'Edward Gasu',
 'Brycen Counts',
 'Machado',
 'Lamont Lofton',
 'Maria Menounos',
 'Chris Brazier',
 'Hilary Farr',
 'Gene Dynarski',
 'Federico Zambrano',
 'Yves Chilot',
 'Ray Cordell',
 'Klaus Tauber',
 'Xosha Roquemore',
 'Andrew Grainger',
 'Lauren Lim Jackson',
 'Ryan VanDenBoom',
 'Charlie Nevett',
 'Gary Richardson',
 'Hervé Témime',
 'Robin Bushnell',
 "Eileen O'Neill",
 'Milan Pulvermacher',
 'Moby',
 'Leigh M. Harris',
 'Daniel McDonald',
 'Robert Madrid',
 'Paul Bettany',
 'Tom Wlaschiha',
 'Aaron Denis',
 'Elias McConnell',
 'Gwen McGee',
 'Ben Pal',
 "Adore O'Hara",
 'Sidney Kean',
 'Ujjwal Chopra',
 'Chika Kanamoto',
 'Elizabeth Ita',
 'Basilina Butler',
 'Noelle North',
 'Kiradej Ketakinta',
 'Jude Poyer',
 'Angelique Lewis',
 'Benjamin Gouzien',
 'Kairi Narita',
 'Jim Fyfe',
 'Roberta Rodrigues',
 'Ellen Gutierrez',
 'Luba',
 'Emma Crapper',
 'Hal Price',
 'Leopold Witte',
 'Lucija Šerbedžija',
 'Bruce Vincent Logan',
 'Mark Rendall',
 'Clark Acton',
 'Moe Ayoub',
 'Billy Howle',
 'Bill Owens',
 'Randy Lowell',
 'Wayne Best',
 'Gutierrez',
 'Naureen Zaim',
 'Vojo Miladić',
 'dam',
 'Robin Tisserand',
 'Armando Cosio',
 'William Watson',
 'Vivian Bartsch',
 'Philip Locke',
 'Michael Harney',
 'Laura Cayouette',
 'William Dunn',
 'Horace McMahon',
 'Mike Tornabene',
 'Phil Peleton',
 'Bob Lazar',
 'Tim Doty',
 'Howard Metzenbaum',
 'Phillips',
 'Jessica Keenan Wynn',
 'Lito Coronel',
 'Tim Battle',
 'Cameron Jack',
 'Robert Harvey',
 'Lew Way Chin',
 'Marie Loop',
 'Rebecca Root',
 'Thea Carla Schøtt',
 'Adam Stone',
 'Marcus Aurelio',
 'Nathan Amir',
 'María Teresa Ortega',
 'Max Guevara',
 'Connie Valenzuela',
 'Jason Clive Lloyd',
 'Flash Thobajane',
 'Vivis Cortez',
 'Melanie B',
 'Elizabeth Frank',
 'Adriana Paz',
 'Vikas Anand',
 'Saiju Kurup',
 'Leah Anderson',
 'Angel Coulby',
 'Alison Coleridge',
 'Darren Bridgett',
 'Rick Aiello',
 'Seon Jeong',
 'Ivaylo Grancharov',
 'Angela Rawna',
 'Fernando Di Leo',
 'Shirly Brener',
 'Kim Joo',
 'Fred Anderson',
 'Masayuki Mori',
 'André Landzaat',
 'Vera Butzek',
 'Skyler Samuels',
 'Jo Michelle Favaro',
 'Saxon Palmer',
 'Kyle Switzer',
 'Mathias Lithner',
 'Kobina Amissah',
 'Eric Briant Wells',
 'Chrystèle Saint',
 'Lee Anne Ford',
 'Bruce Gray',
 'François Domerc',
 'Natalie Gray',
 'William MacDonald',
 'Václav Neužil',
 'Petcharat Chaiburi',
 'Olivia Renee Dupepe',
 'Susan De West',
 'Yutaka Shimada',
 'Barret Swatek',
 'YaYa Gosselin',
 'Joan Hostench Martínez',
 'John Rensenhouse',
 "Fifi D'Orsay",
 'Derek Johns',
 'Rita Owens',
 'Jesse Ibarra',
 'Olatunde Osunsanmi',
 'Loren Anthony',
 'Tom Stuart',
 'Julanne Chidi Hill',
 'Paul Butler',
 'Clydene Jackson',
 'Sergio Montalvo',
 'Bane Harlock',
 'Gyula Kormos',
 'Pat Santino',
 'Benjamin King',
 'Regina Baff',
 'Elisabeth Fraser',
 'Taku Kawai',
 'Denise Spagnuolo',
 'Klaus Müller',
 'Kelvin Wise',
 'Princess Lucaj',
 'Abhinav Kashyap',
 'Anne Marie Pohtamo',
 'Barbara Mansell',
 'Mitch E. Bowan',
 'Joe Cole',
 'George Petrie',
 'Reid Collums',
 'Aharon Ipalé',
 'Jay Galloway',
 'Graham W.J. Beal',
 'Steve Lippe',
 'Tom Heath',
 'Rinku Ghosh',
 'Andreas Pfundstein',
 'Jerry Kwarteng',
 'Védís Vífilsdóttir',
 'Linda Ballantyne',
 'Jouko Ahola',
 'Frank Hoyt Taylor',
 'Kymberly Herrin',
 'Peter Vizard',
 'Chris Lindsay',
 'Helmut Dantine',
 'Gemma McIlhenny',
 'Edward Holcroft',
 'Tiffany Limos',
 'Barbara Cole ',
 'Noah Abrams',
 'Emile Hirsch',
 'David Cheung',
 'Linda Tatum',
 'Cole Alexander',
 'Stephen T. Kay',
 'Billie Hayes',
 'Guy Hagi',
 'Kwok',
 'Billy James',
 'Sabrina Cheung',
 'Mumbi Maina',
 'Alexander Medvedev',
 'Vanessa Rubio',
 'Maddalena Ischiale',
 'Richard Abrahamse',
 'Christian Benard',
 'Robert Flores',
 'Fernando Lueches',
 ...}

                      actors
0  Haven Rockwell O'Sullivan
1                 Nick Zaran
2               Franco Citti
3           Forrest Broadley
4       Sandra Love Aldridge

In [59]:
movie_df = df
actors_df= actors

In [60]:
# Create an empty dictionary to store the total profits for each actor
actor_profits = {}
actor_counts = {}

# Loop over each row in the movie dataset
for index, row in movie_df.iterrows():
    # Get the profit and list of actors for the current movie
    profit = row["profit"]
    actors_list = row["credits"]
    # Loop over each actor in the list and add the profit to their total
    for actor in actors_list:
        if actor in actor_profits:
            actor_profits[actor] += profit
            actor_counts[actor] += 1
        else:
            actor_profits[actor] = profit
            actor_counts[actor] = 1

# Create a new list to store the total profits for each actor in the same order as the actors_df
total_profits = []
total_counts =[]
for actor in actors_df["actors"]:
    if actor in actor_profits:
        total_profits.append(actor_profits[actor])
        total_counts.append(actor_counts[actor])
    else:
        total_profits.append(0)
        total_counts.append(0)

# Add the new column of total profits to the actors dataset
actors_df["profit"] = total_profits
actors_df["count"] = total_counts

actors_df

                           actors       profit  count
0       Haven Rockwell O'Sullivan   91037232.0      1
1                      Nick Zaran    -684000.0      1
2                    Franco Citti  321832473.0      2
3                Forrest Broadley   31726644.0      1
4            Sandra Love Aldridge  611117246.0      2
...                           ...          ...    ...
145404               Will Stephen  227718711.0      1
145405                        You   77551594.0      1
145406                  Kayla Fan   42925733.0      1
145407    Soledad Gómez Schweizer   16881995.0      1
145408             Carole Lombard    6053479.0      4

[145409 rows x 3 columns]

In [61]:
actors_df = actors_df.loc[actors_df['profit'] > 0]

In [62]:
actors_df = actors_df.sort_values(by=['profit'], ascending=False)

In [63]:
actors_df

                   actors        profit  count
41358            Stan Lee  2.353728e+10     40
46936   Samuel L. Jackson  2.063435e+10     93
21582        Frank Welker  1.762703e+10     95
86443                Jean  1.584181e+10    403
143779       Jess Harnell  1.510388e+10     41
...                   ...           ...    ...
94222        Gürol Güngör  1.000000e+00      1
118521       İcmal Aktuna  1.000000e+00      1
135717      Aslıhan Güner  1.000000e+00      1
69952    Nazlı Pınar Kaya  1.000000e+00      1
96108     Miktibek Apazov  1.000000e+00      1

[110981 rows x 3 columns]

In [64]:
# Reset the index to default
actors_df = actors_df.reset_index(drop=True)

actors_df['profit_per_movie']=actors_df['profit']/actors_df['count']

# Format the profit values to be human-readable
actors_df['profit'] = actors_df['profit'].apply(lambda x: '${:,.2f}'.format(x))

In [65]:
actors_df.head(20)

                  actors              profit  count  profit_per_movie
0               Stan Lee  $23,537,284,375.00     40      5.884321e+08
1      Samuel L. Jackson  $20,634,351,243.00     93      2.218747e+08
2           Frank Welker  $17,627,026,628.00     95      1.855476e+08
3                   Jean  $15,841,806,994.00    403      3.930969e+07
4           Jess Harnell  $15,103,879,067.00     41      3.683873e+08
5     Scarlett Johansson  $13,516,464,346.00     43      3.143364e+08
6             Bob Bergen  $13,334,578,914.00     45      2.963240e+08
7          Warwick Davis  $13,216,733,102.00     24      5.506972e+08
8             Alan Tudyk  $12,782,434,995.00     35      3.652124e+08
9         Mickie McGowan  $12,612,653,460.00     44      2.866512e+08
10     John Ratzenberger  $12,369,080,511.00     36      3.435856e+08
11     Robert Downey Jr.  $12,263,426,292.00     45      2.725206e+08
12  Benedict Cumberbatch  $12,110,690,267.00     25      4.844276e+08
13           Andy Serkis  $11,983,974,964.00     21      5.706655e+08
14            Vin Diesel  $11,952,365,398.00     29      4.121505e+08
15        Laraine Newman  $11,939,237,160.00     38      3.141905e+08
16       Fred Tatasciore  $11,893,641,389.00     42      2.831819e+08
17           Chris Evans  $11,850,942,679.00     31      3.822885e+08
18            Danny Mann  $11,818,431,059.00     36      3.282898e+08
19           Zoe Saldaña  $11,439,124,426.00     29      3.944526e+08

# Genres top earnings

In [66]:
df = pd.read_csv('MyFinalDataFilms1.csv')

In [67]:
df.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,vote_average,vote_count,credits,language,profit
0,19995,Avatar,Action-Adventure-Fantasy-Science Fiction,en,In the 22nd century a paraplegic Marine is dis...,771.663,20th Century Fox-Ingenious Media-Dune Entertai...,2009-12-15,237000000.0,2.920357e+09,162.0,Released,7.566,28398.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-S...,1,2.683357e+09
1,299534,Avengers: Endgame,Adventure-Science Fiction-Action,en,After the devastating events of Avengers: Infi...,128.607,Marvel Studios,2019-04-24,356000000.0,2.797801e+09,181.0,Released,8.270,22651.0,Robert Downey Jr.-Chris Evans-Mark Ruffalo-Chr...,1,2.441801e+09
2,76600,Avatar: The Way of Water,Science Fiction-Adventure-Action,en,Set more than a decade after the events of the...,1738.087,Lightstorm Entertainment-20th Century Studios,2022-12-14,460000000.0,2.243276e+09,192.0,Released,7.733,5343.0,Sam Worthington-Zoe Saldaña-Sigourney Weaver-B...,1,1.783276e+09
3,597,Titanic,Drama-Romance,en,101-year-old Rose DeWitt Bukater tells the sto...,319.114,Paramount-20th Century Fox-Lightstorm Entertai...,1997-11-18,200000000.0,2.187464e+09,194.0,Released,7.888,22350.0,Leonardo DiCaprio-Kate Winslet-Billy Zane-Kath...,1,1.987464e+09
4,140607,Star Wars: The Force Awakens,Adventure-Action-Science Fiction-Fantasy,en,Thirty years after defeating the Galactic Empi...,57.305,Lucasfilm-Bad Robot,2015-12-15,245000000.0,2.068224e+09,136.0,Released,7.305,17755.0,Harrison Ford-Mark Hamill-Carrie Fisher-Adam D...,1,1.823224e+09

In [68]:
# Split the 'genres' column on the '-' delimiter, and convert to a list
df['genres'] = df['genres'].str.split('-')

In [69]:
all_genres = []

for index, row in df.iterrows():

    genres = row['genres']
    
    all_genres.extend(genres)

unique_genres = set(all_genres)

unique_genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

In [70]:
my_list = list(unique_genres)

data = {'genres': my_list}
genres = pd.DataFrame(data)
genres

             genres
0           Romance
1          Thriller
2         Animation
3             Music
4           Western
5           History
6            Comedy
7           Fantasy
8          TV Movie
9             Crime
10           Horror
11  Science Fiction
12          Mystery
13      Documentary
14           Action
15              War
16        Adventure
17           Family
18            Drama

In [71]:
movie_df = df
genres_df= genres

In [72]:
# Create an empty dictionary to store the total profits and count of movies for each genre
genre_profits = {}
genre_counts = {}

# Loop over each row in the movie dataset
for index, row in movie_df.iterrows():
    # Get the profit and list of genres for the current movie
    profit = row["profit"]
    genre_list = row["genres"]
    # Loop over each genre in the list and add the profit and count to their total
    for genre in genre_list:
        if genre in genre_profits:
            genre_profits[genre] += profit
            genre_counts[genre] += 1
        else:
            genre_profits[genre] = profit
            genre_counts[genre] = 1

# Create a new list to store the total profits and count of movies for each genre in the same order as the genres_df
total_profits = []
total_counts = []
for genre in genres_df["genres"]:
    if genre in genre_profits:
        total_profits.append(genre_profits[genre])
        total_counts.append(genre_counts[genre])
    else:
        total_profits.append(0)
        total_counts.append(0)

# Add the new columns of total profits and counts to the genres dataset
genres_df["profit"] = total_profits
genres_df["count"] = total_counts

In [73]:
genres_df

             genres        profit  count
0           Romance  5.839232e+10   1635
1          Thriller  8.771929e+10   2092
2         Animation  5.964194e+10    464
3             Music  1.065766e+10    299
4           Western  3.300988e+09    133
5           History  1.224483e+10    448
6            Comedy  1.395796e+11   3044
7           Fantasy  9.015841e+10    807
8          TV Movie  1.667096e+08      6
9             Crime  4.313293e+10   1292
10           Horror  2.867640e+10    949
11  Science Fiction  8.954226e+10    872
12          Mystery  2.712766e+10    723
13      Documentary  1.449178e+09     89
14           Action  1.774854e+11   2134
15              War  1.271279e+10    331
16        Adventure  1.862849e+11   1425
17           Family  8.454994e+10    867
18            Drama  1.179392e+11   3985

In [74]:
genres_df['profit_per_move']=genres_df['profit']/genres_df['count']

In [75]:
genres_df = genres_df.sort_values(by=['profit_per_move'], ascending=False)

In [76]:
# Reset the index to default
genres_df = genres_df.reset_index(drop=True)

# Format the profit values to be human-readable
genres_df['profit_per_move'] = genres_df['profit_per_move'].apply(lambda x: '${:,.2f}'.format(x))

In [77]:
genres_df

             genres        profit  count  profit_per_move
0         Adventure  1.862849e+11   1425  $130,726,265.70
1         Animation  5.964194e+10    464  $128,538,654.39
2           Fantasy  9.015841e+10    807  $111,720,453.41
3   Science Fiction  8.954226e+10    872  $102,686,080.78
4            Family  8.454994e+10    867   $97,520,119.51
5            Action  1.774854e+11   2134   $83,170,275.79
6            Comedy  1.395796e+11   3044   $45,854,011.73
7          Thriller  8.771929e+10   2092   $41,930,829.10
8               War  1.271279e+10    331   $38,407,227.21
9           Mystery  2.712766e+10    723   $37,520,969.65
10          Romance  5.839232e+10   1635   $35,713,955.79
11            Music  1.065766e+10    299   $35,644,353.38
12            Crime  4.313293e+10   1292   $33,384,618.61
13           Horror  2.867640e+10    949   $30,217,488.73
14            Drama  1.179392e+11   3985   $29,595,783.90
15         TV Movie  1.667096e+08      6   $27,784,930.00
16          History  1.224483e+10    448   $27,332,198.95
17          Western  3.300988e+09    133   $24,819,455.17
18      Documentary  1.449178e+09     89   $16,282,901.84